
.container {
  width: 100%;
  height: 80%;
  padding: 48px 32px;
  background: white;
  border-right: 1px solid #E4E4E4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.imageSection {
  align-self: stretch;
  height: 405.60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.logo {
  width: 154px;
  height: 77.60px;
}
.my_pic{
  width :100px;
  height: 60px;
  margin-bottom: 10px;
}

.textSection {
  align-self: stretch;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.content {
  align-self: stretch;
  padding: 1px;
  border-radius: 2px;
  overflow: hidden;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 2px;
  display: inline-flex;
  font-size: 16px;
  font-family: "Lettera Text LL";
  font-weight: 500;
  /* word-wrap: break-word; */
}

.monitoring {
  background: rgba(70, 67, 238, 0.10);
  color: #4643EE;
}

.profileSection {
  width: 204px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
}

.profileInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.profileImg {
  width: 38px;
  height: 38px;
  border-radius: 9999px;
  border: 1.58px white solid;
}

.profileText {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  display: inline-flex;
  font-size: 14px;
  font-family: "Lettera Text LL";
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  word-wrap: break-word;
  color: #050505;
}

.profileEmail {
  color: #777676;
}

