/* .top-navigation {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #555;
  }
  
  .active {
    background-color: #555;
  }
   */